.cover_pic {
  height: 210px;
  width: 300px;
  border-radius: 4px;
}
.bookItem {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin: 10px;
}
.slick-prev:before {
  color: gray;
  margin-left: 10px;
}
.slick-next:before {
  color: gray;
  margin-left: -15px;
}
