.Hero-Page {
  background-color: #e5e5e5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Hero-Container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Books-Container {
  background-color: white;
  /* align-items: center; */

  border-radius: 25px;
  width: 1460px;
  height: 435px;
  padding: 20px;
  margin: 5px;
}
.Books-Container-Header {
  display: flex;
}
.fb-button {
  background-color: #0284c7;
  color: white;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
